# Ignore sensitive fingerprint data
fp_server/CapturedFingerprints/
Group_type_A/FineTuned_model/database/
Group_type_A/FineTuned_model/temp/

# Ignore ML models due to size and privacy
Group_type_A/FineTuned_model/models/

# Other standard ignores
.vs/
bin/
obj/
*.pyc
__pycache__/
.venv/
.env
Group_type_A/FineTuned_model/test.py
